extends layout

block content
  h1= title
  p Welcome to #{welcome}
  a(class='button' href='/standup') standup
  <br />
  a(class='button' href='/retrospective') retrospective
  <br />
  a(class='button' href='/planpoker') planpoker
  <br />
